@font-face {
   font-family: the8bit;
   src: url(../fnt/half_bold_pixel-7.ttf);
}

body, input, textarea, button {
   font-family: the8bit;
}

#canvas {
   width: 800px;
   height: 600px;
   margin:auto;
}

#canvas.crosshair {
    cursor: url(../engine/img/cursor/crosshair.gif) 15 15;
}

#canvas.exitright {
    cursor: url(../engine/img/cursor/right.png) 15 15;
}

#canvas.exitleft {
    cursor: url(../engine/img/cursor/left.png) 15 15;
}