@font-face {
   font-family: the8bit;
   src: url(../fnt/half_bold_pixel-7.ttf);
}

body, input, textarea, button {
   font-family: the8bit;
}

#canvas {
   width: 800px;
   height: 600px;
   margin:auto;
   position:relative;
}

#forms {
    position:absolute;
    top:0;
    left:0;
}

#settings {
    width:200px;
    height:60px;
}

.panel {
    display:none;
    position:absolute;
    top:0;
    left:0;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

#canvas.crosshair {
    cursor: url(../engine/img/cursor/crosshair.gif) 15 15;
}

#canvas.exitright {
    cursor: url(../engine/img/cursor/right.png) 15 15;
}

#canvas.exitleft {
    cursor: url(../engine/img/cursor/left.png) 15 15;
}