@font-face {
   font-family: the8bit;
   src: url(../fnt/half_bold_pixel-7.ttf);
}

body, input, textarea, button {
   font-family: the8bit;
}

:-webkit-full-screen {
   width: 100% !important;
   height: 100% !important;
   position: absolute;
   top: 0;
   left: 0;
}

:-webkit-full-screen canvas {
   width: 100% !important;
   height: 100% !important;
   position: absolute;
   top: 0;
   left: 0;
}

#canvas {
   width: 800px;
   height: 600px;
   margin:auto;
   position:relative;
}

#forms {
    position:absolute;
    top:0;
    left:0;
}

#settings {
    width:200px;
    height:60px;
}

#loadgame, #savegame {
    width:400px;
    height:500px;
}

#loadgame-items, #savegame-items {
    height:400px;
    overflow:scroll;
}

#loadgame img, #savegame img {
    width:200px;
    height:150px;
}

.panel {
    display:none;
    position:absolute;
    top:0;
    left:0;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

#canvas.game {
    cursor: none;
}

#canvas.exitright {
    cursor: url(../engine/img/cursor/right.png) 15 15;
}

#canvas.exitleft {
    cursor: url(../engine/img/cursor/left.png) 15 15;
}