@font-face {
   font-family: the8bit;
   src: url(../fnt/half_bold_pixel-7.ttf);
}

body, input, textarea, button {
   font-family: the8bit;
}

#canvas {
   width: 800px;
   height: 600px;
   cursor: url(../img/cursor/crosshair.gif);
}