<div id="loadgame" class="panel">
    <h3>Load game</h3>
    <form>
        <table>
            {{#each savegame}}
            <tr>
                <td>
                </td>
            </tr>
            {{/each}}
        </table>
     </form>
     <button onClick="require('engine/tpl/main').close();return false;">OK</button>
</div>