 <div id="tabs">
  <ul>
    <li><a href="#tab-main">Main</a></li>
    <li><a href="#tab-images">Images</a></li>
    <li><a href="#tab-scenes">Scenes</a></li>
    <li><a href="#tab-objects">Objects</a></li>
    <li><a href="#tab-characters">Characters</a></li>
    <li><a href="#tab-interactions">Interactions</a></li>
    <li><a href="#tab-dialogs">Dialogs</a></li>
  </ul>
  <div id="tab-main"></div>
  <div id="tab-images">
  <div id="tab-scenes">
  <div id="tab-objects">
  <div id="tab-characters">
  <div id="tab-interactions">
  <div id="tab-dialogs">

</div>