<div style="float:right;">
    <label>Preview</label>
    <img class="dynamic-image" data-src-id="{{background}}" width="200" height="150">
    <br>
    <button id="scene.{{id}}.preview">Preview scene</button>
    <button id="scene.{{id}}.delete">Delete scene...</button>
</div>

<label for="scene.{{id}}.background">Background</label>
<select id="scene.{{id}}.background" size="1"></select>
<BR>

<input id="scene.{{id}}.interactable" type="checkbox">
<label for="scene.{{id}}.interactable"{{#interactable}} CHECKED{{/interactable}}>Interactable scene (user can use mouse/keyboard)</label>
<BR>

<input id="scene.{{id}}.ending" type="checkbox">
<label for="scene.{{id}}.ending"{{#ending}} CHECKED{{/ending}}>Ending scene</label>
<BR>

<label for="scene.{{id}}.description">Description</label>
<textarea id="scene.{{id}}.description">{{description}}</textarea>
<BR>

<label for="scene.{{id}}.characters">Character setup:</label>
<table id="scene.{{id}}.characters" class="tablesorter">
    <thead>
        <tr>
            <th>Character</th>
            <th>x</th>
            <th>y</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>