<table class="tablesorter">
   <thead>
      <tr>
          <th>id</th>
          <th>label</th>
      </tr>
    </thead>
    <tbody>
    {{#each main.npcs}}
        <tr>
            <td>{{id}}</td>
            <td>{{label}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>