<div class="verticaltabs">
 <ul>
    {{#conditions}}
    <li><a href="#{{id}}">{{id}}</a>
          <span class='ui-icon ui-icon-circle-close ui-closable-tab'>
        <a href="#"></a>
      </span>
      </li>
    {{/conditions}}
    <button data-role="condition" class="new" id="conditions.new">NEW condition...</button>
  </ul>
  {{#conditions}}
  <div id="{{id}}">
    {{>tab-condition}}
  </div>
  {{/conditions}}
</div>