<label for="dialogs">Dialog:</label>
<BR>
<table id="dialogs" class="tablesorter">
    <thead>
        <tr>
            <th>character</th>
            <th>text</th>
        </tr>
    </thead>
    <tbody>
    {{#each lines}}
        <tr>
            <td>{{this.character}}</td>
            <td>{{this.text}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
