<div class="verticaltabs">
 <ul>
    {{#dialogs}}
    <li><a href="#{{id}}">{{id}}</a>
          <span class='ui-icon ui-icon-circle-close ui-closable-tab'>
        <a href="#"></a>
      </span>
    </li>
    {{/dialogs}}
    <li><button class="new" data-role="dialog" id="dialogs.new">NEW dialog...</button></li>
  </ul>
  {{#dialogs}}
  <div id="{{id}}">
    {{>tab-dialog}}
  </div>
  {{/dialogs}}
</div>