<div class="verticaltabs editor-objects">
 <ul>
    {{#objects}}
    <li>
      <a href="#{{id}}">{{id}}</a>
      <span class='ui-icon ui-icon-circle-close ui-closable-tab'>
        <a href="#"></a>
      </span>
    </li>
    {{/objects}}
    <button class="new" data-role="object" id="objects.new">NEW object...</button>
  </ul>
  {{#objects}}
  <div id="{{id}}">
    {{>tab-object}}
  </div>
  {{/objects}}
</div>