<div class="verticaltabs">
 <ul>
    {{#objects}}
    <li><a href="#{{id}}">{{id}}</a><span class='ui-icon ui-icon-circle-close ui-closable-tab'></span></li>
    {{/objects}}
    <li><button id="object.new">NEW object...</button></li>
  </ul>
  {{#objects}}
  <div id="{{id}}">
    {{>tab-object}}
  </div>
  {{/objects}}
</div>