<div class="verticaltabs editor-scenes">
 <ul>
    {{#scenes}}
    <li>
      <a href="#{{id}}">{{id}}</a>
      <span class='ui-icon ui-icon-circle-close ui-closable-tab'>
        <a href="#"></a>
      </span>
      </li>
    {{/scenes}}
    <button class="new" data-role="scene" id="scene.new">NEW scene...</button>
  </ul>
  {{#scenes}}
  <div id="{{id}}">
    {{>tab-scene}}
  </div>
  {{/scenes}}
</div>