 <div class="tabs">
  <ul>
    <li><a href="#tab-main">Main</a></li>
    <li><a href="#tab-images">Images</a></li>
    <li><a href="#tab-scenes">Scenes</a></li>
    <li><a href="#tab-objects">Objects</a></li>
    <li><a href="#tab-characters">Characters</a></li>
    <li><a href="#tab-interactions">Interactions</a></li>
    <li><a href="#tab-dialogs">Dialogs</a></li>
  </ul>
  <div id="tab-main">{{>tab-main}}</div>
  <div id="tab-images">{{>tab-images}}</div>
  <div id="tab-scenes">{{>tab-scenes}}</div>
  <div id="tab-objects">{{>tab-objects}}</div>
  <div id="tab-characters">{{>tab-characters}}</div>
  <div id="tab-interactions">{{>tab-interactions}}</div>
  <div id="tab-dialogs">{{>tab-dialogs}}</div>
</div>